body{
    margin: 0%;
}
#navbar{
    display: flex;
    background-color: rgb(62,62,62);
    height: 60px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
#ndtv{
    width: 45%;
    margin-left: 50px;
    margin-bottom: -15px;
}
#div2{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-right: 15px;
    margin-bottom: -15px;
}
a{
    color:whitesmoke;
    text-decoration: none;
    margin: 10px;
}
